
# Created by https://www.toptal.com/developers/gitignore/api/python,macos,visualstudiocode
# Edit at https://www.toptal.com/developers/gitignore?templates=python,macos,visualstudiocode

### macOS ###
# General
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class


# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
.hypothesis/
.pytest_cache/

# Sphinx documentation
docs/_build/
doc/_build/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
pythonenv*

# profiling data
.prof

### VisualStudioCode ###
.vscode/*
!.vscode/tasks.json
!.vscode/launch.json
*.code-workspace

# End of https://www.toptal.com/developers/gitignore/api/python,macos,visualstudiocode
